 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm Hiren Patel. QC engineer with over a decade of experience in oil & gas industry. I've a diploma in mechanical engineering. I hold certificates in CSWIP 3.1 Welding Inspector Level 2 & American Society of Non destructive Testing (ASNT Level II).</p>
                </div>
                <div class="col-lg-4">
                    <p>I have worked and gained experience in both on-shore and off-shore projects. I was a part of Subsea7 Acergy Sonamet, Lobito Yard, project in Angola. I also worked in Nigeria for Aveon Offshore Limited's Egina SPS and OSO-RH GASLIFT projects.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/hiren-qc/hiren-qc.github.io/blob/master/img/portfolio/Hiren-QC-resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download full Résumé
                    </a>
                </div>
            </div>
        </div>
    </section>
